@font-face {
  font-family: RobotoBlack;
  src: url(/ui/common/Roboto-Black.ttf);
}

@font-face {
  font-family: Nasalization;
  src: url(/ui/common/nasalization-rg.ttf), url(/ui/common/nasalization-rg.ttf); //second is to fix CORS in FFdev
}


body {
  margin: 0;
  padding-top: 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: RobotoBlack;
  font-size: 35px;
  overflow: hidden;
}

@keyframes marquee {
         0% { transform: translateX( 30%); }
        45% { transform: translateX(  0%); }
        55% { transform: translateX(  0%); }
       100% { transform: translateX(-50%); }
}

@keyframes fadeout {
  0% { opacity: 1; }
100% { opacity: 0; }
}